.register-wrapper {
    height: 100vh;
    height: calc(100vh - 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(27, 27, 27);
}
.register-container {
    width: 45vw;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 0 1rem;
    border-radius: 5px;
}
.register-title {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 1.5rem;
    font-family: 'Roboto', sans-serif;

}
.form-inputs {
    margin-top: 1rem;
} 
.label {
    font-family: 'Source Serif 4';
    color: #4d4d4d;
    font-size: 1.1rem;
}
.input {
    width: 100%;
    padding: 10px 5px;
    background: #f2f5fa;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    opacity: 0.8;
}
.input:focus {
    outline: none;
    border-left: 3px solid #1DBFAF;
}
.register-btn-container {
    width: 100%;
    text-align: center;
    margin: 1.5rem 0;
}
.register-btn {
    background: linear-gradient(45deg, #1DBFAF 0%, #1EAEDB 85%, #1EAEDB 100%);
    border: none;
    padding: 8px;
    font-size: 1.1rem;
    color: white;
    width: 100%;
    margin: 0 auto;
    border-radius: 3px;
    cursor: pointer;
}
.register-btn:hover {
    background:#1EAEDB;
}